@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* utilities  */
:root{
  --web-whole-color: #4bc8e1;  
  --web-white-colore-code: white;
  --faded-text-color: #656565;
  --extra-faded-bg-color-cust: #f4f5f5;
  --box-shadow-head-feat:  0px 8px 24px -9px #666666;
  --extra-faded-text-color: #94979f;
  --large-heading-color: #4a648f;
  --boxes-faded-bg-color: #edf0f5;
  --boxes-faded-hover-color: #f6c1b4;
  --hover-bg-color-deep-blue: #1b9edb;
  --prod-details-btn-color: #1b879c;
  --custom-green-text-color: rgb(24 182 24);
  --z-index-max: 100;
  --z-index-medium: 99;
  --z-index-light: 10;
  --z-index-light-medium: 2;
  --z-index-low: -1;
}
/* padding-right: var(--bs-gutter-x,.75rem); */
/* padding-left: var(--bs-gutter-x,.75rem); */
.container{
    padding-right: var(--bs-gutter-x,5.75rem);
    padding-left: var(--bs-gutter-x,5.75rem);
}
a{
   text-decoration: none;
   color: var(--web-white-colore-code);
}
a:hover{
    color: var(--web-whole-color);
}
.padding-top{
    padding-top: 20px;
}
.padding-bottom{
    padding-bottom: 20px;
}
.custom-font-size{
    font-size: 12px;
}
.custom-font-size-color{
    font-size: 16px;
    color: var(--large-heading-color);
}
.cust-font-fifteen{
    font-size: 15px;
}
.all-large-heading{
    font-weight: bold;
    color: var(--large-heading-color);
}
.large-font-cust-size{
    font-size: 18px;
    /* font-weight: bold; */
}
.extra-large-font-cust-size{
    font-size: 22px;
}
.medium-font-size-cust{
    font-size: 14px;
    font-weight: bold;
}
.normal-large-font-cust{
    font-size: 14px;
}
.medium-size-faded-bold{
    font-size: 13px;
    font-weight: 900;
    color: var(--extra-faded-text-color);
}
.head-p-sub-all{
    padding: 0 10px;
    border-left: 5px solid var(--web-whole-color);
}
.btns{
    border: none;
    outline: none;
    padding: 8px 20px;
    background-color: var(--web-whole-color);
    color: var(--web-white-colore-code);
    border-radius: 4px;
}
.btns:hover{
    background-color: var(--hover-bg-color-deep-blue);
}


/* pre loader  */
#pre-loader{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    transform: all 0.5s ease-out;
    z-index: 1000;
}
.pre-loading-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-img img{
    max-width: 124px;
}
.loading-content{
    display: flex;
}
.loading-animation span{
position: relative;
bottom: -1.5rem;
 width: 4px;
 height: 4px;
 margin-left: 2px;
 border-radius: 50%;
 background-color:#eb084b;
 display: inline-block;
 animation: jumpingAnimation 1.4s linear infinite;
}
.loading-animation span:nth-child(2){
    animation-delay: .5s;
}
.loading-animation span:nth-child(3){
    animation-delay: .8s;
}
@keyframes jumpingAnimation{
    20%{
        transform: translateY(0px);
    }
    50%{
       transform: translateY(-4px);
    }
}



/* header */
.whole-header{
    background-color: var(--web-whole-color);
    color: var(--web-white-colore-code);
    position: sticky;
    top: 0;
    z-index: var(--z-index-medium);
    padding-top: 0;
    padding-bottom: 20px;
}
.header-right-box{
    display: flex;
    gap: 10px;
}
.upper-header{
    display: flex;
    justify-content: space-between;
}
.upper-header > div{
    padding:10px 0;
}
.main-logo img{
    max-height: 75px;
    position: relative;
    bottom: .5vh;
}
.main-logo{
    padding-top: 0;
}
.header-right-content{
    position: relative;
    top: 4.5vh;
}
.header-phone-number span{
    position: relative;
    top: .3vh;
    font-size: 14px;
}
.header-phone-number img{
    max-width: 22px;
}
.header-log-in-wish-cart{
    display: flex;
    gap: 10px;
    position: relative;
    bottom: .2rem;
}
.download-app-header :nth-child(2){
    max-width: 19px;
}
.download-app-header img{
    margin: 0 4px;
}
.header-log-in-wish-cart img{
    max-width: 22px;
}
.login-img{
    position: relative;
    top: -3%;
}
.cart-text{
    position: relative;
    top: -2.5%;
}
.custom-margin-b{
    margin-bottom: 3px;
}
#header-search-input{
    border: none;
    outline: none;
    padding: 3px 10px;
    border-radius: 20px;
}
.search-img{
    position: relative;
    right: 2.2rem;
    bottom: .1rem;
    cursor: pointer;
}
.header-cart a:hover{
    color: var(--web-white-colore-code);
}
/* down header  */
.bootstrap-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.navbar-light .navbar-nav .nav-item.active > .nav-link{
    color: var(--web-white-colore-code);
    background-color: var(--web-whole-color);
}
.nav-link{
    padding-top: 1px ;
    padding-bottom: 3px;
    padding-left: 10px;
    border-radius: 16px;
    text-transform: uppercase;
}
.nav-item{
    padding: 0 15px;
}
.bootstrap-nav-container{
    box-shadow:var(--box-shadow-head-feat);
    border-radius: 6px;
    background-color: var(--web-white-colore-code);
    position: absolute;
    top: 1vh;
    left: 0;
    right: 0;
    padding: 15px 0;
}
.navbar-light .navbar-toggler{
    color: transparent;
}
.navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
}



/* main  */
/* .bootstrap-nav-container{
    box-shadow:var(--box-shadow-head-feat);
    border-radius: 6px;
    background-color: var(--web-white-colore-code);
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    left: 12%;
    right: 12%;
}
 */

/* FEATURES  */
.features{
    background-color: var(--extra-faded-bg-color-cust);
}
.feature-heading h6{
    color: var(--web-whole-color);
}
.feature-para{
    color: var(--faded-text-color);
}
.whole-features-box{
    box-shadow: var(--box-shadow-head-feat);
    padding: 30px 0;
}
.feature-flex-box{
    display: flex;
    gap: 25px;
}
       /* header-toggle */
.mobile-head-bar{
    display: none;
}

/* air condition  */
.air-condition{
    margin-top: 3rem;
    margin-bottom: 4rem;
    position: relative;
    background-size:auto;
    background-repeat: no-repeat;
    background-image: url(img/welcome-bg.png);
    background-position: center;
}
.air-cond-upper-long{
    padding-top: 35px;
}
.air-cond-lower-long{
    padding-bottom: 35px;
}
.air-cond-right{
    margin-left: .5rem;
}
.air-cond-left{
    margin-right: .5rem;
}
.round-boxes-air{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    gap: 6px;
}
.inner-box{
    width: 100px;
    height: 100px;
    border: 3px solid var(--web-whole-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:var(--large-heading-color);
    margin: 3px;
    line-height: 1.2;
}
.inner-box:hover {
    background-color: var(--hover-bg-color-deep-blue);
    cursor: pointer;
    color: var(--web-white-colore-code);
}
.outer-box{
    border-radius: 50%;
    box-shadow: var(--box-shadow-head-feat);
}
.air-cond-para{
    color: var(--large-heading-color);
}
/* .ac-calct-heading{
    display: flex;
    justify-content: space-between;
    color: var(--large-heading-color);
    cursor: pointer;
} */
.ac-calct-box{
    /* padding: 10px; */
    margin-bottom: 20px;
    border: 1px solid #e9e3e3;
    border-radius: 4px;
}
.ac-calculator{
    margin-top: 20px;
    padding: 10px;
    box-shadow: var(--box-shadow-head-feat);
    border-radius: 8px;
    background-color: var(--web-white-colore-code);
}
.ac-calc-input-disabled p{
    min-width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #e9e3e3;
    float: right;
    pointer-events: none;
}
.ac-calct-range{
 display: grid;
 grid-template-columns: .8fr 7fr 1.4fr;
 margin: 10px 0;
}
.ac-calc-range-input .input-range{
    width: 100%;
    padding: 0 5px;
}
.ac-button-calct{
    width: 100%;
}



/* .ac-calct-content{
    display: none;
} */
/* .ac-calct-box.active .ac-calct-content{
    display: block;
} */
/* .fa-chevron-up{
    display: none;
}
.ac-calct-box.active .fa-chevron-down{
    display: none;
}
.ac-calct-box.active .fa-chevron-up{
    display: inline-block;
} */


/* bootstrap  */
.form-select{
   border: 1px solid #f2f6fa;
}


.air-cond-long-para p{
    color: var(--faded-text-color);
}
.ac-calct-content{
    margin-top: 10px;
}

.ac-calct-content select{
    border: none;
    outline: none;
}
.ac-calct-content select::-ms-expand{
    display: none;
}

/* stars */
.star-background{
    position: relative;
    background-image: url(img/rating-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.star-content{
    padding: 30px 0;
}
.star-content p{
    color: var(--large-heading-color);
}
.stars{
    display: grid;
    grid-template-columns: repeat(5 , auto);
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.star-item-img img{
    max-width: 100px;
}
.star-item-img img:hover{
    filter: grayscale(100%);
    cursor: pointer;
}
.our-serv-content{
    padding: 30px 0;
}


/* brands  */
.brand-grid-box{
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: center;
}
.brand-inner-box img{
    max-width: 285px;
    padding: 10px 30px;
}
.brand-inner-box{
    border: 2px solid var(--web-white-colore-code);
}
.brand-inner-box:hover{
    background-color: var(--boxes-faded-hover-color);
}
.shop-by-brands{
    background-color: var(--boxes-faded-bg-color);
}
.brand-btn{
    border-radius: 20px;
    margin: 30px 0;
}


/* air-condition  */
.eco-friendly-img img{
    max-width: 230px;
}
.eco-freindly{
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-image: url(img/welcome-bg.png);
    margin-bottom: 3rem;
}

/* slider-product  */
.product-slider{
    margin-bottom: 2rem;
    position: relative;
}
.custom-btns-prev-slider{
    position: absolute;
    top: 55%;
    left: 8.5%;
    pointer-events: initial;
    z-index: var(--z-index-light-medium);
}
.custom-btns-next-slider{
    position: absolute;
    top: 55%;
    right: 8.5%;
    z-index: var(--z-index-light-medium);
}
/* .s-content{
    margin: 0 3rem;
} */
.product-img img{
    max-width: 200px;
}
.flex-product-box{
    justify-content: center;
    display: flex;
}
.product-per-box{
    padding: 15px;
    box-shadow: var(--box-shadow-head-feat);
    margin: 20px;
    border-radius: 10px;

}
.product-name{
    font-weight: bold;
    color: var(--large-heading-color);
    padding-top: 10px;
    font-size: 14px;
}
.product-price{
    margin-top: 15px;
    margin-bottom: 7px;
}
.main-prod-price{
    margin-left: 5px;
}
.prod-star-img img{
    max-width: 80px;
}
.product-offer-img img{
    max-width: 70px;
}
.product-offer-img{
    position: relative;
    right: -7.5%;
}
.product-offer-img::before{
    content: '35% off';
    position: absolute;
    color: var(--web-white-colore-code);
    font-size: 14px;
    left: 15%;
    top: 13%;
}
.prod-star-img{
    position: relative;
    top: .7vh;
}
.star-offer-product{
    display: flex;
    justify-content: space-between;
}
.prev-next-prod-img img{
    max-width: 50px;
}
.prev-next-prod-img{
    background: transparent;
    cursor: pointer;
}
del{
    color: red;
}
del span{
    color: black;
}
.product-price{
    color: black;
}


/* our-services */
.our-services-background{
    position: relative;
    background-image: url(img/our-services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.services-images{
    display: grid;
    grid-template-columns: repeat(6, max-content);
    justify-content: center;
}
.per-service-img{
    margin: 0 2rem;
    cursor: pointer;
}
.service-img-text{
    margin-top: 15px;
}
.services-images .per-service-img img {
    max-width: 120px;
}
.services-images .per-service-img img:hover{
    filter: grayscale(100%);
}
/* hvac  */
.hvac{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.project-hvac-type{
    display: flex;
}
.hvac-radio-input{
    display: flex;
    gap: 10px;
}
.hvac-ty-para{
    margin-right: 30px;
}
.hvac-frm-lower-box textarea{
    width: 100%;
    min-height: 7rem;
    border: none;
    outline: none;
    box-shadow: 0px 0px 1px 0px #beb8b8;
    padding: 8px;
    margin: 10px 0;
    background-color: var(--extra-faded-bg-color-cust);
    border-radius: 6px;
}
.hvac-frm-lower-box input{
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 1px 0px #beb8b8;
    padding: 8px;
    margin: 10px 0;
    background-color: var(--extra-faded-bg-color-cust);
    border-radius: 6px;
}
.hvac-from-upper-para{
    color: var(--extra-faded-text-color);
}
.hvac-btn{
    width: 100%;
    position: relative;
    top: 0.8rem;
}
.hvac-right-content{
    display: flex;
    align-items: center;
}
.hvac-left-img{
    position: relative;
    bottom: 7.5%;
}
/* .hvac-submit-btn{
    position: relative;
}
.hvac-btn{
    position: absolute;
    bottom: 0;
} */


/* newsletetr  */
.newltr-left-box{
    display: flex;
    gap: 10px;
    align-items: center;
}
.newsltr-img img{
    max-width: 150px;
}
.news-letter-input input{
    width: 100%;
    border: none;
    outline: none;
    /* box-shadow: 0px 0px 1px 0px #4b4848; */
    padding: 14px 8px;
    margin: 10px 0;
    border-radius: 30px;
    background-color: var(--boxes-faded-bg-color);
    color: var(--extra-faded-text-color);
}
.newltr-sub-btn{
    position: relative;
}
.newlts-btns{
    position: absolute;
    top: 22%;
    right: 1%;
    border-radius: 20px;
}

/* footer  */
.footer{
    position: relative;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background: url(img/footer-bg.png);
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer-content{
    display: grid;
    grid-template-columns: 1.5fr .5fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 3.5rem;
}
.footer-text{
    color: var(--web-white-colore-code);
}
.footer-header{
    color: #51dffb;
}
.footer-app-ios-img{
    display: flex;
    gap: 10px;
}
.posit-realt-foot-box{
    position: relative;
    top: 7vh;
    /* z-index: 1; */
}
.copyright-text-footer, .address-footer{
    color: var(--web-white-colore-code);
}
.footer-down-copyright{
    margin-top: 20px;
}
.footer-app-ios-img{
    cursor: pointer;
}
.fotter-links, .copyright-text-footer{
    font-size: 14px;
}
.footer-logo{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    /* z-index: 6; */
}
.footer-logo img{
    max-width: 20px;
    margin-right: 6px;
}
.footer-logo img:hover{
    filter: opacity(0.5);
}



.product-filter-left-box{
        background: linear-gradient(to right, rgb(255, 255, 255), rgb(241 245 245));
        padding: 20px;
        border-radius: 8px;
        box-shadow: rgb(214 216 216) -4px 5px 15px -1px;
}
.filter-box-heading{
    padding-top: 20px;
    padding-bottom: 5px;
}
.filter-per-box-content p, .filter-per-box-content > div{
    margin-bottom: 5px;
}
.filter-input-content input{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.product-list-sec{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* pagination  */
.pagination-product-listing{
    margin-top: 3rem;
}
.filt-pages-img span img{
    max-width: 35px;
}
.prod-filt-page-box{
    display: flex;
}
.filt-pages-number{
    margin: 0 6px;
}
.filt-pages-number span{
    background-color: var(--extra-faded-bg-color-cust);
    padding: 2px;
    margin: 0 3px;
    border-radius: 5px;
}
.filt-pages-img {
    position: relative;
    bottom: .6vh;
}
.prod-filt-showing-result, .prod-filt-page-box{
    color: var(--extra-faded-text-color);
}
.prod-filter-home-list-para span i{
    color: var(--extra-faded-text-color);
}
.prod-filter-pages span img{
    max-width: 20px;
}



/* product details  */
.prod-deatils-cust-font-des{
    font-size: 16px;
    color: var(--faded-text-color);
}
/* tabs  */
.prod-deatis-tab-btn{
    border: none;
    outline: none;
    background-color: var(--web-white-colore-code);
    color: var(--large-heading-color);
    font-weight: bold;
}
.prod-deatis-tab-btn.active{
    border-bottom: 3.5px solid var(--web-whole-color);
}
.product-dtails-tabs{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* details  */
.product-datails-box{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.prod-details-top-head p{
    color:var(--large-heading-color);
}
.prod-detail-raing-img{
    padding-left: 15px;
}
.prod-detail-rating-ans-que{
    color: var(--extra-faded-text-color);
}
.installation-prod-detail-charges{
    font-size: 14px;
    border-bottom: 3px solid var(--web-whole-color);
}
.prod-details-large-color-font{
    font-size: 18px;
    color: var(--large-heading-color);
}
.mrp-selling span del{
    color: var(--large-heading-color);
}
.selling-price-prod-deta{
    padding-left: 15px;
}
.offer-price{
    font-weight: bold;
    color: var(--large-heading-color);
}
.prod-detail-price h2{
    font-weight: bold;
    color:var(--hover-bg-color-deep-blue);
}
.prod-detail-price{
    border-bottom: 3px solid var(--web-whole-color);
}
.delivery-pin-code .pin-input input{
    padding-left: 20px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    border:1px solid var(--web-whole-color);
    border-radius: 20px;
    max-width: 12vw;
}
.delivery-pin-btn{
    border-radius: 20px;
    padding: 3px 30px;
}
.delivery-pin-code{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 6px;
}
.prod-det-add-to-cart, .prod-det-wish-list{
    width: 100%;
    border-radius: 8px;
    padding: 5px 8px;
}
.prod-det-wish-list span img{
    max-width: 35px;
}
.prod-det-wish-list{
    background-color: var(--prod-details-btn-color);
}
.prod-detail-mailProdImg{
    padding: 20px;
    border-radius: 10px;
    box-shadow:  var(--box-shadow-head-feat);
    cursor: pointer;
}
.prod-det-other img{
    max-width: 100px;
}
.other-product-of-prodDet{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
}
.prod-det-other{
    padding: 10px;
    margin: 10px;
    border: .5px solid rgb(228, 224, 224);
    border-radius: 10px;
    cursor: pointer;
}
.prod-details-service-box{
    position: relative;
}
.prod-det-service-img{
    padding: 10px;
    border: .5px solid rgb(228, 224, 224);
    border-radius: 10px;
    /* margin: 10px 0; */
    margin-bottom: 10px;
}
.absolute-checkbox-proDet{
    position: absolute;
    top: 6%;
    right: 6%;
    font-size: 19px;
    color: #06bb06;
    display: none;
}
.absolute-checkbox-proDet.active{
    display: block;
}
.prod-det-service-img img{
    max-width: 80px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.service-cart-button span img{
    max-width: 18px;
}
.service-cart-button{
    font-size: 14px;
    padding: 4px 8px;
    width: 100%;
}
.jsColorAdded{
    background-color: var(--prod-details-btn-color);
}
.peroff-img{
    height: 100%;
}
.peroff-img img{
    height: 100%;
}
.nav-item-custom{
    padding-right: 18px;
    margin-top: 10px;
}

.pin-input{
    position: relative;
}
.prod-map-absolt-icon{
    position: absolute;
    left: .3rem;
    top: .5rem;
    color: var(--extra-faded-text-color);
}
/* services  */
.prod-det-services-head{
    margin-bottom: 25px;
}
.prodDet-suggested-ser{
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.dropdown:hover > .dropdown-menu{
    display: block;
}
.tab-content, .installation-prod-detail-charges{
    color: var(--faded-text-color);
}



/* img zoom  */
.image-wrap{
    max-width: 600px;
}
.image{
    width: 100%;
    /* padding-top: calc(100% / (16/16)); */
    padding-top: 100%;
    background-image: url('img/ac-with-google.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.image:hover{
    background-size: 155%;
}
/* productdetails end  */




/* cart style  */
.cart-products{
    margin: 3rem 0;
}
.cart-product-img {
    display: flex;
    align-items: center;
}
.absolt-prod-cart{
    display: flex;
    gap: 1.5rem;
    text-align: end;
}
.cart-del-wish{
    /* background-color: var(--web-white-colore-code); */
    background: transparent;
    display: flex;
    gap: .7rem;
}
.cart-del-wish img{
    max-width: 20px;
}
.cart-numb img{
    max-width: 23px;
    cursor: pointer;
}
.per-cart-box{
    display: grid;
    grid-template-columns: .7fr 2.5fr .8fr;
    padding: 25px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-head-feat);
}
.produc-cart-number{
    position: relative;
}
.absolt-prod-cart{
    position: absolute;
    bottom: 0;
    right: 0;
}
.cart-numb{
    position: relative;
    bottom: -.6rem;
}
.jsNumCart{
    font-weight: bold;
    margin: 0 3px;
    font-size: 20px;
    position: relative;
    top: 7%;
}
.prod-cart-price{
    font-size: 22px;
}
.cart-price-black, .cart-ruppe-sign{
    font-weight: bold;
}
.cart-price-black{
    color: rgb(68, 67, 67);
}
.product-cart-datails{
    padding-left: 20px;
}
.cart-ruppe-sign{
    color: #847d7d;
}
.head-color-price{
    color: var(--large-heading-color);
}
.prod-cart-heading h5{
    font-size: 22px;
}
.cart-stars img{
    max-width: 70px;
}
.cart-modal{
    font-weight: 550;
    color: var(--faded-text-color);
}

/* cart-sub-sec */
.cart-sub-sec{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.coupon-input{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.coupon-input input{
    border:1px solid var(--web-whole-color);
    border-radius: 20px;
    padding: 5px 10px;
    max-width: 150px;
}
.coupon-img img{
    max-width: 150px;
}
.coupon-box{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 15px;
}
.coupon-code p{
    color: var(--large-heading-color);
}
.cart-service-img img{
    max-width: 40px;
}
.cart-service-img{
    padding: 20px;
    border-radius: 50%;
    margin: 3px;
    border: 2px solid var(--web-whole-color);
}
.cart-service-out-box{
    padding: 1px;
    border-radius: 50%;
    box-shadow: var(--box-shadow-head-feat);
}
.cart-services{
    display: grid;
    grid-template-columns: .4fr 3fr;
    padding: 15px 0;
}
.cart-service-para {
    padding-left: 22px;
}
.cart-details{
    color: var(--large-heading-color);
    font-size: 14px;
}
.cart-add-btn{
    font-size: 14px;
}
.cart-secure-text{
    padding-left: 8px;
    color: var(--extra-faded-text-color);
}
.secure-payments img{
    max-width: 23px;
}
.secure-payments{
    margin-bottom: 2.5rem;
}
.car-per-amount-box{
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.amountName ,.actual-amount{
    color: var(--large-heading-color);
    font-weight: bold;
}
.mid-space-dot{
    border-bottom: 2px dotted var(--large-heading-color);
    width: 100%;
    position: relative;
    top: -.6rem;
}
.amountName{
    margin-right: 2rem;
}
.actual-amount{
    margin-left: 2rem;
}
.car-per-amount-box p{
    padding-top: 5px;
}
.total-Amount-box{
    display: flex;
    justify-content: space-between;
}
.checkout-button{
    width: 100%;
    margin-top: 20px;
}
.cart-saving-para{
    color: var(--extra-faded-text-color);
}
.cart-saving-para .green-text-color{
    font-size: 15px;
   color: var(--custom-green-text-color);
}
.saving-msg{
    color: var(--custom-green-text-color);
}


/* billing checkout */
.billing-det-down-box{
    display: flex;
    gap: 1.5rem;
}
.billing-det-down-box p{
    color: var(--large-heading-color);
}
.billing-form-box{
    padding: 15px;
    box-shadow: var(--box-shadow-head-feat);
    border-radius: 6px;
}
.checkout-all-head p{
    color: var(--extra-faded-text-color);
}
.billing-from-left-box input{
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 1px 0px #aca5a5;
    padding: 10px 8px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: var(--extra-faded-text-color);
}
.billing-from-left-box textarea{
    width: 100%;
    min-height: 7rem;
    border: none;
    outline: none;
    box-shadow: 0px 0px 1px 0px #aca5a5;
    padding: 8px;
    border-radius: 6px;
    margin-top: 5px;
}
.form-select{
    color: #706464;
    margin-left: 0;
    padding-left: 8PX;
}
.per-bill-ship-address-book{
    padding: 25px;
    box-shadow: var(--box-shadow-head-feat);
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
}
.check-addre-head h6{
    font-weight: bold;
    color: var(--faded-text-color);
}
.check-add-para p{
    color: var(--extra-faded-text-color);
}
.checkout-del-add{
    display: flex;
    gap: .5rem;
    position: absolute;
    right: 0.7rem;
    top: 0.5rem;
}
.delete-bin-checkout img{
    max-width: 20px;
}
.checkout-check-icon{
    border: 1px solid var(--extra-faded-bg-color-cust);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
    top: .2rem;
}
.checkout-check-icon i{
    font-size: 23px;
    position: relative;
    left: -0.5px;
    bottom: -0.5px;
    top: -0.1px;
    color: var(--custom-green-text-color);
    display: none;
}
.checkout-check-icon{
    background-color: var(--extra-faded-bg-color-cust);
    cursor: pointer;
}
.billing-address-content.active .checkout-check-icon i, .shipping-address-content.active .checkout-check-icon i{
    display: block;
}
.checkout-help-box{
    color: var(--faded-text-color);
}
.color-light-blue-checkout{
    color: rgb(21 203 216);
}
.billing-form-box{
    margin-bottom: 6rem;
}
.billing-section{
    position: relative;
}
.checkout-right-box{
    margin-bottom: 6rem;
    position: sticky;
    top: 11.5rem;
}
.biiliing-check-locat-img{
    display: flex;
    justify-content: center;
}
.biiliing-check-locat-img img{
    max-width: 80px;
}
.saving-cheout-img img{
    max-height: 25px;
}
.saving-addres-checkout{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 10px;
}
.saving-check-para p{
    color: var(--large-heading-color);
    font-weight: bold;
    font-size: 19px;
}



/* tracking  */
.tracking-head p{
    color: var(--large-heading-color);
}
.prod-name-starc-heading h5{
    font-size: 19px;
}
.prod-name-star-trac{
    display: flex;
}
.tracking-star{
    position: relative;
    bottom: .2rem;
}
.delivery-tracking-per-box{
    padding: 20px;
    box-shadow: var(--box-shadow-head-feat);
    border-radius: 10px;
}
.trac-price-small{
    font-size: 18px;
}
.prod-details-trac{
    font-size: 14px;
}
.head-col-title{
    color: var(--large-heading-color);
}
.fade-col-desc{
    color: var(--extra-faded-text-color);
}
.order-status-head{
    color: var(--large-heading-color);
    font-size: 19px;
}
.tracking-ac-img img{
    max-width: 110px;
    margin-left: 20px;
}
.tracking-details-btn{
    border-radius: 20px;
    padding: 2px 16px;
    font-size: 15px;
}
.text-align-cust-track{
    text-align: end;
}
.tracking-truck-img img{
    max-width: 30px;
}
.img-text-tracking{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: 20px;}
.tracking-para{
    color: var(--extra-faded-text-color);
    position: relative;
    top: .6rem;
}


.progress-bar-ul{
    position: relative;
    left: -3%;
}
.progress-bar-ul::before{
    content: '';
    width: 24%;
    height: 4px;
    position: absolute;
    background-color: rgb(53, 231, 53);
    bottom: -49px;
    left: 16%;
}
.progress-bar-ul li{
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    color:var(--faded-text-color);
}
.progress-bar-ul li::after{
    content: '';
    width: 25px;
    height: 25px;
    border: 1px solid var(--web-whole-color);
    display: block;
    align-items: center;
    margin: 10px auto 0 auto;
    border-radius: 50%;
    line-height: 25px;
    background-color: white;
}
.progress-bar-ul li:first-child::after, .progress-bar-ul li:nth-of-type(2)::after{
    content: '\2713';
    color: white;
    background-color: rgb(53, 231, 53);
}
.progress-bar-ul li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: rgb(241, 235, 241);
    bottom: 10px;
    left: -50%;
    top: 75%;
    z-index: var(--z-index-low);
}
.progress-bar-ul li:first-child:before{
    content: none;
}


/* order Placed  */
.c-plac-order-id{
    color: var(--large-heading-color);
}
.continue-shopping-btn{
    padding: .7rem 10rem;
    border-radius: 8px;
}
.thank-you-heading{
    font-weight: bold;
    color: var(--custom-green-text-color);
}
.placeed-order-para{
    color: var(--large-heading-color);
}
.per-services-img-placed img{
    max-width: 50px;
}
.per-services-placed{
    display: flex;
    column-gap: 17px;
    align-items: center;
    border: 1px solid var(--web-whole-color);
    padding: 13px 25px;
    border-radius: 8px;
    margin-bottom: 23px;
    cursor: pointer;
}
.per-services-placed:hover{
    background: linear-gradient(to right, var(--web-whole-color), var(--hover-bg-color-deep-blue));
}
.services-text-placed{
    font-size: 21px;
    color: var(--faded-text-color);
}


/* contact Us Page  */
.addrr-Cont-us-icon i{
    font-size: 2rem;
    color: var(--large-heading-color);
    padding: 20px;
    border-radius: 50%;
    border: 1px solid var(--large-heading-color);
}
.Contact-Us-Head{
    font-size: 18px;
    font-weight: bold;
}
.contact-Us-Para{
    color: var(--faded-text-color);
}
.per-address-box-contact-us{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--boxes-faded-bg-color);
}
.addrr-phone-Cont-us-icon i{
 padding: 20px 26px;
}
.per-address-box-contact-us{
    margin-bottom: 10px;
    cursor: pointer;
}
.per-address-box-contact-us:hover > .addrr-Cont-us-icon i{
    background-color: var(--large-heading-color);
    color: var(--web-white-colore-code);
    transition: all 0.5s ease-in-out;
}
.area-locationIframe iframe{
    height: 460px;
    width: 100%;
}
.contactPage-heading p{
    color: var(--faded-text-color);
}
.page-navigation-whole-bg{
    padding-top: .5rem;
    padding-bottom: 1.4rem;
    /* background-color: var(--boxes-faded-bg-color); */
    background-color: var(--extra-faded-bg-color-cust);
}


/* about Us  */
.testimonials-description p, .about-us-para-box p{
    color: var(--faded-text-color);
    font-size: 14px;
}
.about-us-para-box li{
    color: var(--faded-text-color);
    font-size: 14px;
}
.about-us-para-box ol{
    padding-left: .9rem;
}
.client-reviews-img img{
    max-width: 60px;
}
.testimonial-img-text{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.clienReviews{
    background-color: var(--boxes-faded-bg-color);
}
.testimonials-flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width: 1200px){
    .container{
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
    }
    /* header  */
    /* lower  */
    .bootstrap-nav-container{
        left: 0;
        right: 0;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    /* air-cond  */
    .air-cond-right{
        margin-left: 0;
    }
    .air-cond-left{
        margin-right: 0;
        margin-bottom: 2rem;
    }

    /* brands  */
    .brand-grid-box{
        grid-template-columns: repeat(2, auto);
    }
    .brand-inner-box img{
        max-width: 250px;
    }
 
    /* services  */
    .services-images{
        grid-template-columns: repeat(3, auto);
        text-align: center;
    }

    /* hvac  */
    .hvac-right-content{
        margin-top: 20px;
    }

    /* footer  */
    .footer-content{
        grid-template-columns: repeat(3, auto);
    }
    .posit-realt-foot-box{
        position: static;
    }
}

@media(max-width: 1030px){
    /* header  */
    /* upper  */
    .header-log-in-wish-cart > div{
        padding-right: 10px;
    }
    .header-log-in-wish-cart{
        position: static;
    }
    .mobile-head-bar{
        position: relative;
        top: 2.5vh;
    }
    .header-right-content{
        position: static;
    }
    .upper-header{
        position: relative;
    }
    .header-right-box{
        position: absolute;
        right: 0;
        left: 0;
        top: 13vh;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--web-whole-color);
        border-radius: 10px;
        z-index: var(--z-index-max);
    }
    .header-right-box.active{
        display: block;
    }
    .mobile-head-bar{
        display: block;
        cursor: pointer;
    }
    .mobile-head-bar i{
        font-size: 24px;
    }
    .header-right-box > div{
        padding: 10px;
        width: max-content;
        margin-left: 9px;
    }
    
    /* lower  */
    .navbar-light .navbar-nav .nav-item.active > .nav-link{
        background-color: transparent;
        color: var(--web-whole-color);
    }
    .bootstrap-navbar{
        display: block;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 0;
        padding-right: 0;
    }
    .nav-link{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* feat  */
    .features-img img{
        max-width: 40px;
    }
    .feature-flex-box{
        padding-top: 20px;
    }

    /* product slider  */
    .custom-btns-prev-slider{
        left: 1%;
    }
    .custom-btns-next-slider{
        right: 1%;
    }
    .prev-next-prod-img img{
        max-width: 43px;
    }

    /* footer  */
    .footer-content{
        grid-template-columns: auto;
    }
    .footer-app-ios-img{
        max-width: 180px;
    }
    .ios-img{
        margin-right: 10px;
    }

    /* pagination  */
    .pagination-product-listing .row > div{
       padding-top: 6px;
       padding-bottom: 6px;
    }


    /* productdetails  */
    .prod-details-service-box{
        margin-top: 15px;
        margin-bottom: 10px;
    }


    /* cart page */
    .per-cart-box{
        grid-template-columns: auto;
        row-gap: 10px;
    }
    .absolt-prod-cart{
        position: static;
    }
    .coupon-box{
        grid-template-columns: auto;
        row-gap: 10px;
    }
    .coupon-input input{
        max-width: none;
    }

    /* checkout page  */
    .billing-det-down-box{
        flex-direction: column;
    }
    .checkout-right-box{
        margin-bottom: 3rem;
    }
}

@media(max-width: 800px){
    /* feat  */
    .feature-content{
        padding-left: 10px;
    }
    /* shop-by-stars */
    .stars{
        width: 100%;
        overflow: scroll;
        gap: .5rem;
    }
    .star-item-img img{
        max-width: 60px;
    }

    /* brand  */
    .brand-inner-box img{
        max-width: 200px;
    }

    /* services  */
    .services-images{
        grid-template-columns: repeat(2, auto);
    }
    .services-images .per-service-img img{
        max-width: 85px;
    }
    /* slider  */
    .custom-btns-prev-slider{
        left: 5%;
    }
    .custom-btns-next-slider{
        right: 5%;
    }


    /* hvac  */
    .hvac-btn{
        position: static;
    }

    /* footer  */
    .footer-content{
        margin-bottom: 1rem;
    }



    /* product details page  */
    .delivery-pin-code{
        grid-template-columns: auto;
    }
    .prod-det-other img {
        max-width: 75px;
    }
    .delivery-pin-code .pin-input input{
        max-width: 100%;
    }
    .prod-details-top-head{
        margin-top: 1.8rem;
    }

    /* checkout  */
   .tracking-address-box{
    margin-bottom: 15px;
    }
    .biiliing-check-locat-img {
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    /* tracking  */
    .text-align-cust-track{
        text-align: start;
        margin-bottom: 20px;
    }
    .progress-bar-ul li{
        font-size: 12px;
    }
    .progress-bar-ul::before{
        bottom: -44px;
    }
}
@media(max-width: 600px){
    /* header  */
    /* upper  */
    .mobile-head-bar{
        top: 4.5vh;
    }
    .mobile-head-bar{
        display: block;
    }
    /* ac box  */
    .ac-calct-range{
        gap: 5px;
    }
    
    /* brand  */
    .brand-inner-box img{
        max-width: 150px;
        padding: 10px;
    }


    /* product details page  */
    .other-product-of-prodDet{
        width: 100%;
        overflow: scroll;
    }
    .prod-det-other img {
        max-width: 55px;
    }


    /* cart  */
    .coupon-input{
        flex-direction: column;
    }
    .coupon-input input{
        margin-bottom: 10px;
    }
    .cart-numb{
        margin-right: 10px;
    }
    .delete-cart{
        margin-right: 6px;
    }
}
@media(max-width: 510px){
    /* home  */
    .air-cond-headinmg{
        margin-top: 3.5rem;
    }
    /* home ends  */
    .continue-shopping-btn{
        padding: .5rem;
        width: 100%;
    } 
    .header-background-img-cust{
        position: relative;
        top: 2vh;
    }


    /* checkout-page  */
    .saving-addres-checkout {
        grid-template-columns: repeat(2, auto);
    }
}

@media(max-width: 488px){
    .round-boxes-air{
        grid-template-columns: repeat(2, max-content);
    }
    .custom-btns-prev-slider{
        left: 1%;
    }
    .custom-btns-next-slider{
        right: 1%;
    }

    /* tracking  */
    .progress-bar-ul li{
        font-size: 10px;
    }
    .progress-bar-ul::before{
        bottom: -42px;
        left: 18%;
    }
}
@media(max-width: 418px){
    /* tracking  */
    .progress-bar-ul li::before{
        top: 67%;
    }
    .progress-bar-ul::before{
        bottom: -37px;
        left: 18%;
    }
    .progress-bar-ul li{
        font-size: 8px;
    }
}
@media(max-width: 350px){
    .services-images .per-service-img img{
        max-width: 70px;
    }
    .progress-bar-ul li{
        font-size: 7px;
    }
}

